# Dependencies
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment files
.env

# Logs
*.log

# Build & Cache
dist/
.cache/
coverage/

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
supabase_credentials.md
